*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: pink;
}
.main{
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    height: 8%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
    align-items: center;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.h2{
    font-size:x-large;
    
}
.center{
    background-color: gray;
    height: 68%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   /* justify-content: center; */
   gap: 5px;
   align-items: center;
   
}
.left{
    height:100% ;
    width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}
img{
    width: 90%;
    border-radius: 50%;
    margin-top: 10%;
    border: 2px solid black;
}
h1{
   color: rgb(255, 0, 43); 
}
.head{
    width: 40%;
    height: 60%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}
.hamburger{
    height: 20px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    display: none;
   

    gap: 2px;
}
.line{
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 20px;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 40%;
   width: 40%;
   gap: 20px;
   font-weight: bold;
   font-size: larger;
   cursor: pointer;

}
.resume{
    gap: 50px;
    width: 80%;
    height: 80%;
    background-color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 2px;
}
.research{
    gap: 50px;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    background-color: rgb(4, 0, 255);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: aliceblue;
    border-radius: 50%;
}
.footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items :end;
    justify-content: space-between;
    /* background-color: rgb(61, 128, 128); */
   
}
.footer h7{
text-decoration: underline;
cursor: pointer;
}
@media (max-width:400px) {
    .hamburger{
       display: flex;
       cursor: pointer;
    }
    ul li{
        display: none;
    }
    .center{
        display: block;
        height: auto;
        background-color: grey;
        height: auto;
        
    }
    .left{
        position: relative;
    }
    img{
        position: absolute;
        width: 150px;
       top: 20px;
       left: 5px;
        

    }
    .head{
     margin-top: 200px;
     width: auto;
     height: auto;
     
    }
    .div{
       
       font-size: smaller;
       font-weight: 500;
       width: auto;
       height: auto;
    }
    .footer{
        display: block;
       margin-top: 20px;
    }
}